@font-face {
  font-family: "title";
  src: url(./res/fonts/title.woff2) format("woff2");
}

@font-face {
  font-family: "body-regular";
  src: url(./res/fonts/body-regular.woff2) format("woff2");
}

@font-face {
  font-family: "body-light";
  src: url(./res/fonts/body-light.woff2) format("woff2");
}

body {
  background-color: #ffffff;
  transition: 0.5s ease;
}

.anchor {
  display: block;
  position: relative;
  top: -35vh;
  visibility: hidden;
}

.navbar {
  padding-top: 1.5em;
  padding-right: 1.5em;
  text-align: right;
}

.navbar-nav > li > a {
  font-family: body-regular;
  color: #8a8a8a;
  font-weight: normal;
  transition: 0.25s ease;
  padding: 2.5vw 2.5vw;
  font-size: 1.05rem;
}

.navbar-nav > li > a:hover {
  transition: 0.5s ease;
  color: black;
}

.nav-item a.active {
  color: black !important;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 1em;
  height: 0.15em;
  background-color: #2b2b2b;
  margin-bottom: 0.15em;
}

.navbar button {
  outline: none;
}

.top-title {
  margin-top: 0em;
  margin-bottom: 2em;
}

h1 {
  font-family: title;
  color: #2d2d2d;
  font-weight: normal;
  font-size: 2.2rem;
  margin-top: 0.5em;
}

h2 {
  font-family: body-light;
  color: #8a8a8a;
  font-weight: normal;
  font-size: 1rem;
  margin-top: 0.5em;
}

h3 {
  font-family: body-regular;
  color: #8a8a8a;
  font-weight: normal;
  font-size: 1rem;
  text-align: justify;
  margin-top: 2em;
}

p {
  font-family: body-light;
  color: #8a8a8a;
  font-weight: normal;
  font-size: 1rem;
  text-align: justify;
  margin-top: 1em;
  line-height: 1.4rem;
}

.content {
  margin: auto;
  text-align: center;
  max-width: 80%;
}

.text-block {
  margin-top: 4em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.text-block a {
  color: #4ec5e2;
  text-decoration: none;
}

.text-block a:hover {
  color: #96eaff;
}

.toastmasters {
  display: block;
  justify-content: space-between;
}

.toastmasters p {
  flex-basis: 100%;
}

.lupinus {
  width: 15rem;
}

.map {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 2em;
}

.map img {
  width: 100%;
}

.map figcaption {
  font-family: body-light;
  color: #8a8a8a;
  font-weight: normal;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.5em;
}

/* Media queries */

@media (min-width: 768px) {
  .navbar {
    text-align: center;
  }

  .navbar-nav {
    margin-top: 0.5em;
    display: inline-block;
  }

  .navbar-nav > li > a {
    padding: 2vw 2vw;
    font-size: 1.05rem;
  }

  .top-title {
    margin-top: 3em;
    margin-bottom: 5.75em;
  }

  h1 {
    font-size: 3.75rem;
    margin-bottom: 0em;
  }

  h2 {
    font-size: 2.1rem;
    margin-top: 0.45em;
  }

  h3 {
    font-size: 1.3rem;
    margin-top: 1em;
  }

  p {
    font-size: 1.3rem;
    margin-top: 1em;
    line-height: normal;
  }

  .content {
    margin: auto;
    text-align: center;
    max-width: 80vw;
  }

  .text-block {
    margin-top: 4em;
    margin-bottom: 7em;
    max-width: 70%;
  }

  .toastmasters {
    display: flex;
    justify-content: space-between;
  }

  .toastmasters p {
    flex-basis: 100%;
  }

  .lupinus {
    width: 240px;
    margin-bottom: 4em;
  }

  .map {
    width: 80%;
    margin-top: 3rem;
  }

  .map img {
    width: 100%;
  }

  .map figcaption {
    font-size: 1rem;
    margin-top: 0.5em;
  }
}
